div.card {
    margin: 19px auto;
    border: 2px solid #1b9aaa;;
    background-color: #b6ffec;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.548);
}

img.card-img-top {
    margin-top: 10px;
}

button.card-btn.btn.btn-info:hover {
    padding: 5px 11px;
}