form {
    color: white;
    font-size: 1.2rem;
    margin: 39px auto 25px auto;
    width: 65%;
}

body{
    background-image: linear-gradient(to right, #25283D, #464c74);
}

div.app-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

button.btn.btn-info {
    color: white;
    background-color: #1B9AAA;
    border-color: #1B9AAA;
    font-weight: bold;
    margin-top: 10px;
}

button.btn.btn-info:hover {
    border: 2px solid #1fafc2;
    box-shadow: 0 0 10px #26e0f8;
    padding: 7px 15px;
}