form {
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    width: 50%;
}
body{
    background-image: linear-gradient(to right, #25283D, #464c74);
    height: 100vh;
    width: 100vw;
}
div.app-container{
    display:flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    width: inherit;
}

button.btn.btn-info {
    color: white;
    background-color: #1B9AAA;
    border-color: #1B9AAA;
    font-weight: bold;
    margin-top: 10px;
}

button.btn.btn-info:hover {
    border: 2px solid #1fafc2;
    box-shadow: 0 0 10px #26e0f8;
    padding: 7px 15px;
}